@import "variables";
@import "site_variables";

.tip {
  background-color: black;
  display: none;
  color: white;
  padding: 18px;
  font-size: 85%;
  opacity: 0.9;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 18px;
  border: solid 1px $gray-100;

  &::before {
    content: ' ';
    height: 0;
    position: absolute;
    width: 0;
    left: 0;
    top: -20px;
    border: 10px solid transparent;
    border-bottom-color: white;
  }
}

table.pre {
  margin: 10px 0;
  background:black;  

  td {
    padding: 15px;
  }

  pre {
    color: white;
    margin-bottom: 0;
  }

  .lines {
    padding: 15px 0 15px 15px;
    width: 30px;

    // line number
    .l {
      color: $gray-500;
    }
  }

  code {
    .prep, .inactive {
      color: #aaa;
      font-weight: 800;
    }

    // keyword
    .k {
      color: $lightblue;
    }

    // function
    .f {
      color: $lightindigo;
    }

    // type
    .t {
      color: $lightteal;
    }

    // value
    .i {
      color: $lightcyan;
    }

    // string
    .s {
      color: $lightgreen;
    }

    // operator
    .o {
      color: $gray-100;
    }

    // number
    .n {
      color: $gray-400;
    }
  }
}

