@import "variables";

$lightblue:    lighten($blue, 15%);
$lightindigo:  lighten($indigo, 25%);
$lightpurple:  lighten($purple, 15%);
$lightpink:    lighten($pink, 15%);
$lightred:     lighten($red, 15%);
$lightorange:  lighten($orange, 15%);
$lightyellow:  lighten($yellow, 15%);
$lightgreen:   lighten($green, 15%);
$lightteal:    lighten($teal, 15%);
$lightcyan:    lighten($cyan, 15%);