@import ".\\node_modules\\bootstrap\\scss\\functions";
@import "variables";
@import ".\\node_modules\\bootstrap\\scss\\mixins";
@import ".\\node_modules\\bootstrap\\scss\\root";
@import ".\\node_modules\\bootstrap\\scss\\reboot";
@import ".\\node_modules\\bootstrap\\scss\\type";
@import ".\\node_modules\\bootstrap\\scss\\images";
@import ".\\node_modules\\bootstrap\\scss\\code";
@import ".\\node_modules\\bootstrap\\scss\\grid";
@import ".\\node_modules\\bootstrap\\scss\\tables";
@import ".\\node_modules\\bootstrap\\scss\\forms";
@import ".\\node_modules\\bootstrap\\scss\\buttons";
@import ".\\node_modules\\bootstrap\\scss\\transitions";
@import ".\\node_modules\\bootstrap\\scss\\dropdown";
@import ".\\node_modules\\bootstrap\\scss\\button-group";
@import ".\\node_modules\\bootstrap\\scss\\input-group";
@import ".\\node_modules\\bootstrap\\scss\\custom-forms";
@import ".\\node_modules\\bootstrap\\scss\\nav";
@import ".\\node_modules\\bootstrap\\scss\\navbar";
@import ".\\node_modules\\bootstrap\\scss\\card";
@import ".\\node_modules\\bootstrap\\scss\\breadcrumb";
@import ".\\node_modules\\bootstrap\\scss\\pagination";
@import ".\\node_modules\\bootstrap\\scss\\badge";
@import ".\\node_modules\\bootstrap\\scss\\jumbotron";
@import ".\\node_modules\\bootstrap\\scss\\alert";
@import ".\\node_modules\\bootstrap\\scss\\progress";
@import ".\\node_modules\\bootstrap\\scss\\media";
@import ".\\node_modules\\bootstrap\\scss\\list-group";
@import ".\\node_modules\\bootstrap\\scss\\close";
@import ".\\node_modules\\bootstrap\\scss\\modal";
@import ".\\node_modules\\bootstrap\\scss\\tooltip";
@import ".\\node_modules\\bootstrap\\scss\\popover";
@import ".\\node_modules\\bootstrap\\scss\\carousel";
@import ".\\node_modules\\bootstrap\\scss\\utilities";
@import ".\\node_modules\\bootstrap\\scss\\print";

@import "site_variables";

.sidebar {
  background-color: black;
  color: white;
  text-align: center;

  a {
    color: white;
    text-decoration: none;
    cursor: hand;
  }

  img {    
    background-color: white;
  }
}

.main {
  img {
    width: 50%;
    padding: 20px;
  }
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 22% 48px;
    width: 350px;
  
    img {    
      width: 75%;
      margin-top: 27px;
    }
  }
  
  .main {
    position: absolute;
    top: 0;
    left: 350px;
    width: calc(100% - 350px);
    z-index: 100;
    padding: 48px;
  
    img {
      width: 50%;
      padding: 20px;
    }

    .post-nav-next {
      text-align: right;
    }
  }  
}

@media (min-width: 100px) and
       (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0;
  }

  .sidebar {
    z-index: 100;
    padding: 20px 10px;
    width: 100%;
  
    img {    
      width: 60%;
      margin: 7px;
    }
  }
  
  .main {
    padding: 22px 33px;
  }  

  pre {
    white-space: pre-line;
  }

}

blockquote p {
  background: $gray-200;
  padding: 15px;
}

ul {
  list-style: none;
}

#fractal-logo {
  width: calc(100% - 20px);
  margin: 10px;
}

table {
  @extend .table;

  p {
    margin-bottom: 0;
  }
}

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
}

.post-nav {
  border-top: solid 1px $gray-400;
  padding-top: 20px;
  margin-top: 45px;

  ul {
    padding-left: 0;
  }
}

@import "literate";
