.hero {
    background-image: url(/assets/img/fractal-logo.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: top;
    content: "";
    -webkit-filter: contrast(65%); /* Safari 6.0 - 9.0 */
    filter: contrast(65%);
}

#nasa-img-container {
    margin-bottom: 20px;
}