#project_title a {
    color: white;
}

#main_content {
    padding-top: 15px;
    padding: 16px 13px 29px 13px;
}

#main-nav-container {
    position: absolute;
    padding: 10px 13px;
}

#main-nav-container ul {
    list-style: none;
    padding-left: 4px;
}

#main-nav-container ul a {
    padding: 4px 10px;
}